@model WorkBariri2.Models.AvaliacaoUsuarios

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AvaliacaoUsuarios</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedback)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EscalaEstrela)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EscalaEstrela)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuarios.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Usuarios.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AvaliacaoUsuariosId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
