@model IEnumerable<WorkBariri2.Models.AvaliacaoUsuarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EscalaEstrela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Feedback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EscalaEstrela)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuarios.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AvaliacaoUsuariosId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AvaliacaoUsuariosId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AvaliacaoUsuariosId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
